@charset "utf-8";
#head {
	height: 800px;
	width: 1000px;
}
#head #div1 {
	float: left;
	height: 200px;
	width: 1000px;
}
#head #div1 {
	background-image: url(CUSTOMER%20RECORD.jpg);
}
#head #div1 {
	background-image: url(CUSTOMER%20RECORD.jpg);
	float: left;
	height: 100px;
	width: 1000px;
}
#head #div2 {
	background-image: url(change%20customer%20record2.jpg);
	float: left;
	height: 500px;
	width: 1000px;
}
#head #div3 {
	background-image: url(change%20corier%20recored3.jpg);
	float: left;
	height: 50px;
	width: 1000px;
}
#head #div2 {
	background-image: url(change%20cus%20record/customer1.jpg);
	float: left;
	height: 600px;
	width: 1000px;
}
#head #div3 {
	background-image: url(Untitled-1.jpg);
	float: left;
	height: 80px;
	width: 1000px;
}
#head #div2 {
	float: left;
	height: 500px;
	width: 1000px;
}
#head #div1 {
	float: left;
	height: 85px;
	width: 1000px;
}
#head {
	height: 690px;
	width: 1000px;
}
#head {
	height: 665px;
	width: 1000px;
}
#head #div2 {
	float: left;
	height: 400px;
	width: 1000px;
}
#head {
	height: 565px;
	width: 1000px;
}
#head #div3 {
	background-image: url(OUICK.jpg);
	float: left;
	height: 80px;
	width: 1000px;
}
#head #div1 #sec {
	background-image: url(../button_blank_blue_01%20copy.jpg);
	float: left;
	height: 128px;
	width: 128px;
}
#head #div1 #sec {
	background-image: url(../button_blank_blue_01%20copy.jpg);
	float: left;
	height: 80px;
	width: 100px;
}
#head #div1 #sec {
	background-image: url(../button_blank_blue_01%20copy.jpg);
	height: 70px;
	width: 80px;
}
#head #div2 {
	background-image: url(customer1.jpg);
	float: left;
	height: 400px;
	width: 1000px;
}
#head #div1 #sec {
	float: left;
	height: 70px;
	width: 80px;
	background-image: url(button_blank_blue_01%20copy.jpg);
}
