<style type="text/css">
#wrapperid {
	height: 700px;
	width: 1000px;
}
#wrapperid #outerheaderid {
	float: left;
	height: 52px;
	width: 950px;
	margin-right: 25px;
	margin-left: 25px;
	background-color: #759787;
}
#wrapperid #outerheaderid #headerid {
	float: left;
	height: 100px;
	width: 950px;
}
#wrapperid #outerheaderid #form2 #custcode {
	float: left;
	height: 25px;
	width: 950px;
}
#wrapperid #outerheaderid #form2 #custcode #lblsc {
	float: left;
	height: 25px;
	width: 250px;
}
#wrapperid #outerheaderid #form2 #custcode #idsel {
	float: left;
	height: 25px;
	width: 300px;
}
#wrapperid #outerheaderid #form2 #custcode #btndiv {
	float: left;
	height: 25px;
	width: 200px;
}
#wrapperid #outerheaderid #form2 #listpay {
	float: left;
	height: 25px;
	width: 950px;
}
#wrapperid #outerheaderid #form2 #listpay #sel1div {
	float: left;
	height: 25px;
	width: 690px;
	padding-left: 25px;
}
#wrapperid #outerheaderid #form2 #custcode #btndiv {
	float: left;
	height: 25px;
	width: 150px;
}
#wrapperid #outerheaderid #form2 #listpay #btndiv {
	float: left;
	height: 25px;
	width: 200px;
}
#wrapperid #middelbodyid {
	float: left;
	height: 450px;
	width: 800px;
	margin-right: 25px;
	margin-left: 25px;
	padding-left: 150px;
	background-color: #7D479B;
}
#wrapperid #outerheaderid #form2 #custcode #goback {
	float: left;
	height: 25px;
	width: 200px;
}
.lbltxt {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	color: #BBEBFF;
	text-decoration: none;
	text-align: center;
}
#wrapperid #middelbodyid #form5id table tr .txtlbl .txta {
	height: auto;
	width: 300px;
}
.btncls {
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	background-color: #B6F0FC;
	text-align: center;
	border: 1px solid #030037;
}
#wrapperid #head {
	float: left;
	height: 80px;
	width: 950px;
	margin-right: 25px;
	margin-left: 25px;
	background-color: #7D479B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #BBEBFF;
	text-decoration: none;
	text-align: center;
	display: block;
	padding-top: 20px;
}
#wrapperid #outerheaderid #form2 #custlist {
	float: left;
	height: 50px;
	width: 948px;
	border: 1px solid #000;
}
.txtbox {
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;
	color: #7B5898;
	text-decoration: none;
	background-color: #BBEBFF;
	text-align: center;
	border: 1px solid #7D479B;
}
</style>
